 body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-left: 10;
            margin-right: auto;

        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;

        }

        select, input[type="text"], input[type="tel"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type="submit"] {
            background-color: black;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: green;
        }

        ul {
            list-style: none;
            padding: 10;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;

        }

        a:hover {
            text-decoration: underline;
        }