body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        background-color: #E0E0E0;
     }
ul {
            list-style: none;
            padding: 0;
   }
li {
            margin-bottom: 10px;

        }
a {
            text-decoration: none;
            color: black;
        }

a:hover {
            text-decoration: underline;
        }
p {
    font-size: 16px;
}
ul {
    font-size: 20px;
}
li {
    font-size: 20px;
}
.text-center {
    text-align: left;
    width: 600px;
}
