<!DOCTYPE html>
<html>
<head>
    <title>Massage Information</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <p class="text-center">Mieli klientai, prisistatymas apie mane.<br><br>

Esu Miglė Kineziterapeutė- Masažistė . Mano darbas man yra džiaugsmo ir įkvėpimo šaltinis. Noras bendrauti ir padėti žmonėms paskatino rinktis medicinos specialybę. Dirbdama vadovaujuosi šiais principais : išklausyti, patarti, bei padėti . Visada smagu, kai klientai po procedūrų išeina su plačia šypsena ir geri atsiliepimai visada veda tik pirmyn. Todėl stengiuosi tobulėti ir įgyti kuo daugiau žinių ,kad padėčiau spręsti klientams iškilusias problemas, pagerinti jų emocinę bei fizinę būklę.<br><br>

Esu baigusi šiuos mokymus: <br>

• Kineziterapijos profesinio bakalauro kvalifikacinis laipsnis - 3 metus studijavau gydomųjų pratimų ir masažų poveikį žmogaus organizmui bei darbingumo gerinimui;<br>
•Sporto konsultantė<br>
•Shiatsu-japoniškasis taškinis masažas<br>
• Praktiniai masažo mokymai "Masažo pagrindai";<br>
• Konferencija "KELIAS MEISTRO LINK" - supažindinimas su grožio ir sveikatinamo naujovėmis bei galimybėmis;<br>
• Giliųjų audinių masažas (Deep tissue)- giliųjų audinių masažas skirtas jungiamajam audiniui atkurti. Daugiau nei 50% kūno masės sudaro jungiamasis audinys. Giliųjų audinių masažo tikslas - atstatyti normalų fascijų ir sausgyslių ilgį;<br>
• Galvos, kaklo (Cerviko-Kranialinis) masažas - ši technika skirta kruopščiai išmasažuoti kaukolės, kaklo bei mentės zonas<br>
•Sporto mokymų centras( seminarai )<br>
•Neščiųjų masažas<br><br>

Įgavau daug praktikos bei žinių :<br><br>

• Abromiškių reabilitacijos ligoninė<br>
• Respublikinė Panevėžio ligoninė<br>
• Panevėžio miesto poliklinika<br>
• Šv. Juozapo Globos Namai<br>
• Romantic hotel ,, Etno spa ‘‘<br>
•,,Trilogy" Northampton- UK<br>
• Anykščiai SPA VILNIUS<br>
•Raimundo Sargūno sporto gimnazija<br><br>

Reguliarus masažas sumažina nervingumą, nuovargį, atpalaiduoja įsitempusius raumenis, nepaslankius sąnarius, suteikia žvalumo, pakelia nuotaiką ir pagerina savijautą. Tai yra pagrindiniai tikslai, kurių siekiu, kaip masažuotoja.<br><br>

Su šypsena lauksiu Jūsų ! </p>

<img src="/static/foto/migle.jpg" width="600" height="500"><br><br>
<li><a href="/start">Pradžia</a></li>
</body>
</html>
