<!DOCTYPE html>
<html>
<head>
    <title>Simple Flask Website</title>
    <link rel="stylesheet" href="/static/index.css">

</head>
<body>
    <ul>
        <li><a href="/massage-info">Apie masažus</a></li>
        <li><a href="/about-massage-therapist">Apie masažuotoja</a></li>
        <li><a href="/registration">Registracija į masažą</a></li>
        <li><a href="/start">Pradžia</a></li>
    </ul>

    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

</body>
</html>
