<!DOCTYPE html>
<html>
<head>
    <title>Massage Information</title>
</head>
<body>
    <h1>Massage Information</h1>
    
    <h2>Masazas1</h2>
    <p>Description: This is the description of Masazas1.</p>
    <img src="/static/masazas1.jpg" alt="Masazas1 Photo">

    <h2>Masazas2</h2>
    <p>Description: This is the description of Masazas2.</p>
    <img src="/static/masazas2.jpg" alt="Masazas2 Photo">

    <h2>Masazas3</h2>
    <p>Description: This is the description of Masazas3.</p>
    <img src="/static/masazas3.jpg" alt="Masazas3 Photo">
</body>
</html>
