<!DOCTYPE html>
<html>
<head>
    <title>Massage Information</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Masažo tipai</h1>
    
    <h2>Klasikinis masažas</h2>
    <p>Klasikinis masažas – tai ne tik kūno, tačiau ir minčių atgaiva. Procedūros metu atsipalaiduojate ne tik fiziškai, tačiau ir dvasiškai. Šio tipo masažas yra vienas pouliariausių ir dažniausiai pasirenkamų masažų, nes atpalaiduoja visus kūno raumenis, suteikia lengvumo jausmą ir dar ilgai juntamą malonumą. Atliekant klasikinį masažą nejaučiama jokių nemalonių pojūčio, dirginimo ar skausmo, nes jo tikslas yra atpalaiduoti, o ne gydyti. Žinoma, jis gali padėti mažinti skausmus, tačiau pagrindinis klasikiniu masažu pasiekiamas rezultatas – kūno atpalaidavimas.</p>
    <img src="/static/foto/klasikinis.jpeg" alt="Masažo nuotrauka" width="300" height="200">

    <h2>Karštu akmenų masažas</h2>
    <p>Nuo seno žinoma, kad natūralūs mineralai turi gydomųjų savybių. Karštų (šiltų) akmenų masažas arba aplikacija tinka ne tik ligų gydymui, bet ir relaksacijai, siekiantt atsikratyti streso ar nerimo. Tokios procedūros turi tonizuojamąjį ir raminantį poveikį, sąlygojamą pasirinkto mineralo ir jo apdorojimo būdo. Priklausomai nuo siekiamo efekto, akmenis galima išdėlioti palei stuburą, uždėti ant delnų, padų, pėdų aktyviųjų zonų, ant skaudamų sąnarių. Šaltais akmenimis galima stimuliuoti kraujotaką, malšinti tinimus, slopinti spazmus, šalinti iš organizmo toksinus. O derinant su kitais masažais, galima sustiprinti imunitetą ir pagerinti medžiagų apykaitą. Masažas karštais akmenimis ne tik gydo, bet ypač gerai atpalaiduoja, palengvėja chroniški nugaros ir kaklo skausmai, atsipalaiduojamas visas kūnas, pajusite harmonijos ir ramybės būseną. Ypač tinką šaltuoju metų periodu.</p>
    <img src="/static/foto/akmenis.jpg" alt="Masažo nuotrauka" width="300" height="200">

    <h2>Masažas bioenerginiu masažuokliu</h2>
    <p>Bioenerginio masažuoklio poveikis yra pagrįstas pagrindiniais Tradicinės Kinų Medicinos meridianų principais ir vidaus organų teorijomis, apjungia kartu šiuolaikinės bioinformatikos, energetikos, neurologijos ir kitas disciplinas. Pažangiausių šiuolaikinių technologijų dėka, jis visapusiškai imituoja tokias Tradicinės Kinų Medicinos technikas kaip akupunktūra, guaša ir tuina masažai, ugnies terapija, baguan taurių terapija ir daug kitų.
        Tiesiogiai veikdamas biologiškai aktyvius taškus, meridianų masažuoklis didina atstatymo (gydymo) greitį ir veiksmingumą, išvalo meridianus, atkuria normalią ČI (Qi) ir kraujo tėkmę, padidina energiją kūne, atkuria vidaus organų in-Jang (Yin-Yang) pusiausvyrą.
        Ši metodika yra veiksminga profilaktikai, organizmo sutrikimų atstatymui, o taip pat ir sveikatos palaikymui.<br><br>
        Pagrindinės funkcijos:<br>
        Šalina toksinus ir valo kraują; <br>Skatina mikrocirkuliaciją; <br>Spartina medžiagų apykaitą; <br>Fizioterapinis poveikis; <br>Suaktyvina ląstelių veiklą, stiprina imunitetą ir padeda greičiau pasveikti; <br>Mažina uždegimą, slopina skausmą, stiprina raumenis ir kaulus; <br>Reguliuoja autonominę nervų sistemą, gerina miego kokybę; <br>Reguliuoja endokrininės sistemos funkcijas; <br>Valo meridianus, pašalina kraujo sąstovį; <br>Koreguoja figūrą bei pasižymi kosmetiniu poveikiu.</p>
    <img src="/static/foto/bioenerginis.jpg" alt="Masažo nuotrauka" width="300" height="200">
<br><br>
    <li><a href="/start">Pradžia</a></li>
</body>
</html>
